@import url('../css/bootstrap.css');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/OpenSans-SemiboldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}

body {
    padding-top: 70px;
}

table.first-col-border th:first-child {
    border-right: 1px solid #333333;
}

table.first-col-border td:first-child {
    border-right: 1px solid #333333;
}

.block-center {
  text-align: center;
}
 

.block-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.loading-ball {
    background-color: #f09999;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

@-webkit-keyframes loading-ball-animation {
    0% {
        background: #f09999;
        margin-left: 0%;
    }

    50% {
        background: #804DEE;
        margin-left: 100%;
    }

    100% {
        background: #f09999;
        margin-left: 0%;
    }
}

@keyframes loading-ball-animation {
    0% {
        background: #f09999;
        margin-left: 0%;
    }

    50% {
        background: #804DEE;
        margin-left: 100%;
    }

    100% {
        background: #f09999;
        margin-left: 0%;
    }
}

.animation-loading-ball {
    -webkit-animation: loading-ball-animation 2s infinite;
    animation: loading-ball-animation 2s infinite;
}

/*Line Graph*/

path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.x.axis text {
    font-size: small;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis {
}

    .y.axis path {
        display: none;
    }

    .y.axis line {
        fill: none;
        stroke: #000;
        stroke-dasharray: 1;
    }