body {
    padding-top: 70px;
}

.centered {
    width: 180px;
    margin-right: auto;
    margin-left: auto;
}

.home-panel {
    height: 100px;
}

.loading-ball {
    background-color: #f09999;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

@-moz-keyframes loading-ball-animation {
    0% {
        background: #f09999;
        margin-left: 0%;
    }

    50% {
        background: #804DEE;
        margin-left: 100%;
    }

    100% {
        background: #f09999;
        margin-left: 0%;
    }
}

@-webkit-keyframes loading-ball-animation {
    0% {
        background: #f09999;
        margin-left: 0%;
    }

    50% {
        background: #804DEE;
        margin-left: 100%;
    }

    100% {
        background: #f09999;
        margin-left: 0%;
    }
}

@keyframes loading-ball-animation {
    0% {
        background: #f09999;
        margin-left: 0%;
    }

    50% {
        background: #804DEE;
        margin-left: 100%;
    }

    100% {
        background: #f09999;
        margin-left: 0%;
    }
}

.animation-loading-ball {
    -moz-animation: loading-ball-animation 2s infinite;
    -o-animation: loading-ball-animation 2s infinite;
    -webkit-animation: loading-ball-animation 2s infinite;
    animation: loading-ball-animation 2s infinite;
}

/*Line Graph*/

path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: black;
}

.x.axis text {
    font-size:small;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display:none;
}

.y.axis {
   
}

.y.axis path{
   display:none;
}

.y.axis line {
    fill: none;
    stroke: #000;
    stroke-dasharray:1;
}

