body {
    font-family: Calibri;
}

li {
    list-style-type: none;
}

.navVerticalList {
}

.navVerticalListItem {
    padding: 10px;
    margin: 10px 0px;
    background-color: lightslategray;
    border-radius: 5px;
}

.navHorizontalList {
    padding: 10px;
    background-color: lightslategray;
    border-radius: 5px;
}

.navHorizontalListItem {
    display: inline;
    padding: 20px 20px;
}

.tdColumn {
    min-width: 300px;
}