<div id="listPrograms" class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <p><b>{{program.entity.name}}|</b><small><i>Days</i></small></p>

                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#mdlCreateDay">
                    &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;Day&nbsp;
                </button>
            </div>
            <div class="clearfix">
                <br />
            </div>
            <p><small><i>Use this page to create and edit existing days.</i></small></p>
        </div>

        <ul class="list-group">
            <li class="list-group-item" data-ng-show="days.length <= 0">
                <p class="text-center">There are no days assigned to {{program.entity.name}}.</p>
                <p class="text-center"><a class="btn btn-info" data-toggle="modal" data-target="#mdlCreateDay">Add a day.</a></p>
            </li>
            <li data-ng-repeat="day in days" class="list-group-item">

                <div data-ng-switch on="day.operation">
                    <div class="row" data-ng-switch-when="read">
                        <h4 class="col-xs-10" data-ng-click="loadExercises(day)" data-target="#exercises{{day.entity.id}}" data-toggle="collapse">
                            {{day.entity.name}}
                        </h4>
                    </div>
                    <div class="row" data-ng-switch-when="update">
                        <div class="col-xs-10">
                            <input class="form-control" type="text" placeholder="Day Name" data-ng-model="day.entity.name" data-ng-change="validDayFeedback(day)" />
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-default" data-ng-click="saveDay(day)" data-ng-disabled="!validDay(day)"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>

                    </div>
                </div>

                <!--Exercises Collapse-->
                <div id="exercises{{day.entity.id}}" class="row collapse">
                    <div class="clearfix">
                        <br />
                    </div>
                    <div data-ng-show="day.entity.exercises.length <= 0">
                        <p class="text-center">You have no exercises assigned to {{day.entity.name}}.</p>
                        <p class="text-center"><a class="btn btn-info" data-ng-click="loadDay(day)" data-toggle="modal" data-target="#mdlCreateExercise">Add Exercise.</a></p>
                    </div>

                    <table class="table first-col-border" data-ng-show="day.entity.exercises.length > 0">
                        <thead>
                            <tr>
                                <th><small>EXERCISE</small></th>
                                <th colspan="3" class="text-center"><small>TARGETS</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="exercise in day.entity.exercises">
                                <td>{{exercise.name}}</td>
                                <td>{{exercise.target.reps}} rep(s)</td>
                                <td>{{exercise.target.perform}}{{exercise.target.measurement}}</td>
                                <td data-ng-click="loadExercise(exercise,day)"><a class="" data-toggle="modal" data-target="#mdlUpdateExercise"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Day Options-->

                    <div class="clearfix">
                        <br />
                    </div>
                    <p>{{day.error}}</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-default col-xs-4" data-ng-click="loadDay(day)" data-toggle="modal" data-target="#mdlCreateExercise"><span class="glyphicon glyphicon-plus"></span></button>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default col-xs-4" data-ng-click="editDay(day)"><span class="glyphicon glyphicon-pencil"></span></button>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default col-xs-4 " data-ng-click="deleteDay(day)"><span class="glyphicon glyphicon-trash"></span></button>

                    </div>

                    <!--End Day Options-->
                </div>
                <!--End Exercise Collapse-->
        
            </li>
        </ul>
    </div>
</div>

<!--Modals-->

<modal modalid="mdlCreateDay">
    <div class="modal-body">
        <label>DAY NAME</label>
        <input class="form-control" data-ng-model="newDay.entity.name" data-ng-change="validDayFeedback(newDay)">
        <br />
        <p>{{newDay.error}}</p>
    </div>
    <div class="modal-footer">      
        <button type="button" class="btn btn-primary btn-lg col-xs-12"  data-dismiss="modal" data-ng-disabled="!validDay(newDay)" data-ng-click="addDay(newDay)">Create</button>
    </div>
</modal>

<modal modalid="mdlCreateExercise">

    <div class="modal-body">
        <label>EXERCISE </label>
        <select class="form-control" ng-model="exercise" ng-options="exercise.name for exercise in allExercises">
            <option value="">create new exercise</option>
        </select>

        <div class="clearfix">
            <br />
        </div>

        <div data-ng-hide="exercise.name">
            <label>NAME </label>
            <input class="form-control" data-ng-model="newExercise.entity.name" data-ng-change="validExerciseFeedback(newExercise)">
            <p>{{newExercise.error}}</p>
        </div>

        <div class="clearfix">
            <br />
        </div>


        <label>MEASUREMENT </label>

        <select class="form-control" ng-model="newTarget.measurement" ng-options="measurement for measurement in measurements"></select>


        <div class="clearfix">
            <br />
        </div>

        <label>TARGETS <i>(Optional)</i></label>

        <div class="row">
            <div class="col-xs-6">
                <p>Reps</p>
            </div>
            <div class="col-xs-6">
                <input class="form-control input-sm" type="number" data-ng-model="newTarget.reps">
            </div>

            <div class="clearfix">
                <br />
            </div>

            <div class="col-xs-6">
                <p>Weight</p>
            </div>
            <div class="col-xs-6">
                <input class="form-control input-sm" type="number" data-ng-model="newTarget.perform">
            </div>

        </div>
    </div>

    <div class="modal-footer">
       
        <button type="button" class="btn btn-primary btn-lg col-xs-12" data-dismiss="modal" data-ng-show="exercise.name" data-ng-click="addExercise(exercise)">Add</button>
        <button type="button" class="btn btn-primary btn-lg col-xs-12" data-dismiss="modal" data-ng-hide="exercise.name" data-ng-disabled="!validExercise(newExercise)" data-ng-click="createExercise(newExercise)">Create</button>

    </div>

</modal>

<modal modalid="mdlUpdateExercise">

    <div class="modal-body">
        <b>Exercise | </b><i>{{exercise.name}}</i>
       
        <div class="clearfix">
            <br />
        </div>


        <label>MEASUREMENT </label>

        <select class="form-control" ng-model="exercise.target.measurement" ng-options="measurement for measurement in measurements"></select>

        <div class="clearfix">
            <br />
        </div>
        
        <p>TARGETS <i>(Optional)</i></p>
       

        <div class="row">
            <div class="col-xs-6">
                <label>Reps</label>
            </div>
            <div class="col-xs-6">
                <input class="form-control input-sm" type="number" data-ng-model="exercise.target.reps">
            </div>

            <div class="clearfix">
                <br />
            </div>

            <div class="col-xs-6">
                <label>Weight</label>
            </div>
            <div class="col-xs-6">
                <input class="form-control input-sm" type="number" data-ng-model="exercise.target.perform">
            </div>

        </div>
    </div>

    <div class="modal-footer">
       
        <button type="button" class="btn btn-warning btn-lg pull-left col-xs-5" data-dismiss="modal" data-ng-click="deleteExercise(exercise)">Delete</button>
        <button type="button" class="btn btn-primary btn-lg pull-right col-xs-5" data-dismiss="modal" data-ng-click="updateExercise(exercise)">Update</button>
    </div>

</modal>
<!--End Modals-->
