<div id="listPrograms" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <p><b>{{program.name}}|</b><small><i>Days</i></small></p>
                <p>
                    <a class="btn btn-primary" data-ng-click="addDay()">&nbsp;<span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Day&nbsp;</a>
                </p>
            </div>

            <p><small><i>Use this page to create and edit existing days.</i></small></p>
        </div>

        <ul class="list-group">
             <li class="list-group-item" data-ng-show="program.days.length <= 0">
                <p class="text-center">You have no days.</p>
            </li>
            <li data-ng-repeat="day in program.days" class="list-group-item">
                <div class="row">
                    <h4><a data-ng-href="Exercises/{{program.id}}/{{day.name}}" class="col-xs-10" data-toggle="tab" data-ng-click="loadDay()" data-ng-hide="day.isEditing">{{day.name}}</a></h4>
                    <input class="col-xs-10" type="text" placeholder="Day Name" data-ng-model="day.name" data-ng-show="day.isEditing" />
                    <a class="col-xs-2 btn btn-large" data-ng-click="saveDay(day)" data-ng-show="day.isEditing"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="col-xs-2" data-target="#opt{{$index}}" data-toggle="collapse" data-ng-hide="day.isEditing"><span class="glyphicon glyphicon-edit"></span></a>
                    <div class="clearfix">
                        <br />
                    </div>
                    <div id="opt{{$index}}" class="collapse">
                        <a class="col-xs-6 btn btn-large" data-ng-click="editDay(day)" data-ng-disabled="program.isEditing"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="col-xs-6 btn btn-large" data-ng-click="deleteDay(day)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>