<div class="centered">

    <div class="text-center">
        <h1><b>Workout</b><i>5</i></h1>
    </div>

    <br />

    <div id="pnlHomeNav" class="row home-panel">
        <a href="Programs" class="btn btn-primary btnWorkout col-xs-12 ">Journal</a>
        <div class="clearfix visible">
            <br />
        </div>

         <a href="Workout" class="btn btn-primary btnWorkout col-xs-12 ">Workout</a>
        <div class="clearfix visible">
            <br />
        </div>


        <a href="Sessions" class="btn btn-primary  col-xs-12 ">Sessions</a>
        <div class="clearfix visible">
            <br />
        </div>
        <a href="Settings" class="btn btn-primary  col-xs-12 ">Settings</a>
    </div>
   <!-- <br />
    <br />
    <p class="text-center"><small>crw.riviere</small></p>
    <p class="text-center"><small><b>Version | </b><i>0.6n</i></small> </p>-->
</div>