<div id="listPrograms" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <p><b>Workout</b><i>5</i> <b>|</b><small><i>Programs</i></small></p>
                <p>
                    <a data-toggle="modal" data-target="#mdlCreate" class="btn btn-primary">&nbsp;<span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Program&nbsp;</a>
                    <modal title="Create Program" text="Please enter a Program name" name="programName" error="error" validate="validProgram(programName)" create="addProgram(programName)"></modal>
                </p>
            </div>

            <p><small><i>Use this page to create and edit existing programs.</i></small></p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" data-ng-show="programs.length <= 0">
                <p class="text-center">You have no programs.</p>
            </li>
            <li data-ng-repeat="program in programs" class="list-group-item">
                <div class="row">
                    <h4><a data-ng-href="Days/{{program.id}}" class="col-xs-10" data-toggle="tab" data-ng-hide="program.isEditing">{{program.name}}</a></h4>
                    <input class="col-xs-10" type="text" placeholder="Program Name" data-ng-model="program.name" data-ng-show="program.isEditing" />
                    <a class="col-xs-2 btn btn-large" data-ng-click="saveProgram(program)" data-ng-show="program.isEditing"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="col-xs-2" data-target="#opt{{$index}}" data-toggle="collapse" data-ng-hide="program.isEditing"><span class="glyphicon glyphicon-edit"></span></a>
                    <div class="clearfix">
                        <br />
                    </div>
                    <div id="opt{{$index}}" class="collapse">
                        <a class="col-xs-6 btn btn-large" data-ng-click="editProgram(program)" data-ng-disabled="program.isEditing"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="col-xs-6 btn btn-large" data-ng-click="deleteProgram(program)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>