<div id="listPrograms" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <p><b>Workout</b><i>5</i> <b>|</b><small><i>Programs</i></small></p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCreateProgram">
                    &nbsp;<span class="glyphicon glyphicon-plus">&nbsp;</span>Program&nbsp;
                </button>
                               
            </div>
            <div class="clearfix">
                <br />
            </div>
            <p><small><i>Use this page to create and edit existing programs.</i></small></p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" data-ng-show="programs.length <= 0">
                <p class="text-center">You have no programs.</p>
                <p class="text-center"><a class="btn btn-info" data-toggle="modal" data-target="#mdlCreateProgram">Add Program</a></p>
            </li>

            <li data-ng-repeat="program in programs" class="list-group-item">
                <div data-ng-switch on="program.operation">
                    <div class="row" data-ng-switch-when="read">

                       
                        <h4 class=""><a class="col-xs-10" data-ng-href="Days/{{program.entity.id}}" data-toggle="tab">{{program.entity.name}}</a></h4>
                      
                            <h4 class="">
                                <button type="button" class="btn btn-default" data-target="#opt{{$index}}" data-toggle="collapse"><span class="glyphicon glyphicon-pencil"></span></button>
                            </h4>
                        </div>
                    <div class="row" data-ng-switch-when="update">
                        <div class="col-xs-10">
                            <input class="form-control" type="text" placeholder="Program Name" data-ng-model="program.entity.name" data-ng-change="validProgramFeedback(program)" />
                        </div>
                        <div class="col-xs-2 text-center">
                            <button type="button" class="btn btn-large" data-ng-disabled="!validProgram(program)" data-ng-click="saveProgram(program)"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>

                    </div>
                </div>
                <div id="opt{{$index}}" class="row collapse">
                    <div class="clearfix">
                        <br />
                    </div>
                    <p>{{program.error}}</p>
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-default" data-ng-click="editProgram(program)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>

                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-default" data-ng-click="deleteProgram(program)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--Modals-->

<modal modalid="mdlCreateProgram">
    <div class="modal-body">
        <p>Please enter a program name.</p>
        <input class="form-control" data-ng-model="newProgram.entity.name" data-ng-change="validProgramFeedback(newProgram)">
        <br />
        <p>{{newProgram.error}}</p>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="!validProgram(newProgram)" data-ng-click="addProgram(newProgram)">Create</button>
    </div>
</modal>

<!--End Modals-->