

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-10">
                    <p><b>Progress|</b><small><i>{{exercise.name}}</i></small></p>
                </div>

                
                    <button type="button" class="col-xs-2 btn btn-default" data-toggle="modal" data-target="#mdlSessions">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
               

            </div>
        </div>
    </div>

    <div data-ng-show="!data || data.sets.length <= 0">
        <p class="text-center">
            There are no sets assigned to this exercise.
        </p>
    </div>

        <exercise-line-chart data="data" data-ng-hide="!data || data.sets.length <= 0"></exercise-line-chart>

    </div>

<!--Modals-->

<modal modalid="mdlSessions">
    <div class="modal-body">

        <div class="col-xs-4">
            <label>PROGRAM</label>
        </div>
        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="program"
                    data-ng-options="program.name for program in programs"
                    data-ng-change="loadProgram(program)">
                <option value="">select program</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>

        <div class="col-xs-4">
            <label>DAY</label>
        </div>

        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="day"
                    data-ng-options="day.name for day in days"
                    data-ng-change="loadDay(day)"
                    data-ng-show="program">
                <option value="">select day</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>

        <div class="col-xs-4">
            <label>EXERCISE</label>
        </div>

        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="exercise"
                    data-ng-options="exercise.name for exercise in day.exercises"
                    data-ng-show="day">
                <option value="">select exercise</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg col-xs-12 " data-ng-click="loadExercise(exercise)" data-ng-show="day" data-dismiss="modal">Show Progress</button>

</div>
   </modal>

    <!--End Modals-->
