<!-- Session List -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-10">
                    <b>{{program.name}}</b> <b>|</b><small><i>{{day.name}}</i></small><b>|</b><small><i>{{exercise.name}}</i></small>
                </div>
                <button type="button" class="col-xs-2 btn btn-default" data-toggle="modal" data-target="#mdlSessions">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>
         
        </div>

        <div class="clearfix">
            <br />
        </div>
        <p><small><i>Use this page to create and edit sessions.</i></small></p>
    </div>

    <ul class="list-group">
        <li class="list-group-item" data-ng-show="sessions.length <= 0">
            <p class="text-center">You have no sessions.</p>
        </li>
        <li data-ng-repeat="session in sessions" class="list-group-item">
            <div data-ng-switch on="session.operation">
                <div class="row" data-ng-switch-when="read">
                    <h4 data-ng-click="loadSession(session)" data-target="#sets{{session.entity.id}}" data-toggle="collapse" class="col-xs-12">{{session.entity.name}}</h4>
                </div>

                <div class="row" data-ng-switch-when="update">
                    <div class="col-xs-10">
                        <input class="form-control" type="text" placeholder="Session Name" data-ng-model="session.entity.name" />
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-large" data-ng-click="saveSession(session)"><span class="glyphicon glyphicon-ok"></span></a>
                    </div>
                </div>

            </div>

            <!--Set List-->

            <div id="sets{{session.entity.id}}" class="row collapse">

                <div class="clearfix">
                    <br />
                </div>

                <div data-ng-show="session.sets.length <= 0">
                <p class="text-center">There are no sets assigned to this exercise.</p>
                </div>

                <div data-ng-hide="session.sets.length <= 0">
                <label>GRAPH</label>

                <session-line-chart data="session.data"></session-line-chart>
                <div class="clearfix visible">
                    <br />
                </div>

                <label>SETS</label>
                <ul class="list-group">
                    <li class="row">
                        <h6 class="col-xs-2 text-right">&nbsp;Set</h6>
                        <h6 class="col-xs-2 text-right">Rep(s)</h6>
                        <h6 class="col-xs-2 text-right">Weight</h6>
                        <h6 class="col-xs-3 text-right">Target %</h6>
                        <h6 class="col-xs-3 text-center">Max %</h6>
                    </li>                   

                    <li data-ng-repeat="set in session.sets" class="list-group-item">
                        <div data-ng-switch on="set.operation">
                            <div class="row" data-ng-switch-when="read">
                                <h6 class="col-xs-2 text-right">{{set.entity.no}}.</h6>
                                <h6 class="col-xs-2 text-right">{{set.entity.reps}}</h6>
                                <h6 class="col-xs-2 text-right">{{set.entity.perform}}{{set.entity.measurement}}</h6>
                                <h6 class="col-xs-3 text-right">{{getExerciseTargetPercentage(set.entity.perform)}}</h6>
                                <h6 class="col-xs-3 text-right">{{getExerciseMaxPercentage(set.entity.perform)}}</h6>
                            </div>
                            <div class="row" data-ng-switch-when="update">

                                <h4 class="col-xs-2">{{set.entity.no}}.</h4>

                                <input class="col-xs-4" type="number"
                                       data-ng-model="set.entity.reps" />

                                <input class="col-xs-3" type="number"
                                       data-ng-model="set.entity.perform" />
                                <label class="col-xs-1">{{set.entity.measurement}}</label>
                            </div>
                        </div>

                    </li>
                </ul>
                    </div>
                <div class="row">

                    <p>{{session.error}}</p>
                    <a class="col-xs-6 btn btn-large" data-ng-click="editSession(session)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="col-xs-6 btn btn-large" data-ng-click="deleteSession(session)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
                <!--End Set List-->
            </div>

        </li>
    </ul>
</div>

<!--Modals-->

<modal modalid="mdlSessions">
    <div class="modal-body">

        <div class="col-xs-4">
            <label>Program</label>

        </div>

        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="program"
                    data-ng-options="program.name for program in programs"
                    data-ng-change="loadProgram(program)">
                <option value="">-- select program --</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>

        <div class="col-xs-4">
            <label>Day</label>
        </div>

        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="day"
                    data-ng-options="day.name for day in days"
                    data-ng-change="loadDay(day)"
                    data-ng-show="program">
                <option value="">-- select day --</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>

        <div class="col-xs-4">
            <label>Exercise</label>
        </div>

        <div class="col-xs-8">
            <select class="form-control"
                    data-ng-model="exercise"
                    data-ng-options="exercise.name for exercise in day.exercises"
                    data-ng-show="day">
                <option value="">-- select day --</option>
            </select>
        </div>


        <div class="clearfix visible">
            <br />
        </div>
    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary col-xs-12" data-ng-click="loadExercise(exercise)" data-ng-show="day" data-dismiss="modal">View Session</button>

        </div>
        
</modal>

<!--End Modals-->