

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-12">
                    <p><b>Workout<i>5</i> |</b><small><i>Settings</i></small></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-lg col-xs-12" data-toggle="collapse" data-target="#dtlsDeleteDB">Delete Database</button>
            <div id="dtlsDeleteDB" class="collapse">
                <div class="clearfix">
                    <br />
                </div>
                <p class="text-center">Are you certain you want to delete the database?</p>
                <div class="clearfix">
                    <br />
                </div>
                <button type="button" class="btn btn-default btn-lg col-xs-6">Yes</button>
                <button type="button" class="btn btn-default btn-lg col-xs-6">No</button>
            </div>
        </li>
       
    </ul>
</div>