<div class="modal fade" id="mdlSessions" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h4 class="modal-title">Select Program</h4>
            </div>
            <div class="modal-body">
                <select data-ng-model="program" data-ng-options="program.name for program in programs" data-ng-change="loadProgram(program)">
                    <option value="">-- select program --</option>
                </select>

                <div class="clearfix visible">
                    <br />
                </div>

                <select data-ng-model="day" data-ng-options="day.name for day in days" data-ng-change="loadDay(day)" data-ng-show="program">
                    <option value="">-- select day --</option>
                </select>

                <div class="clearfix visible">
                    <br />
                </div>

                <a class="btn btn-primary  col-xs-12 " data-ng-click="startSession()" data-ng-show="day" data-dismiss="modal">Start Workout</a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#headerNav" data-target="#ddExercise">EXERCISE <span class="caret"></span>
            </a>
        </li>
    </ul>

    <div class="panel-group" id="headerNav">

        <div class="panel">
            <div id="ddExercise" class="panel panel-default collapse ">

                <ul class="list-group">

                    <li data-ng-repeat="exercise in exercises" data-ng-click="loadExercise(exercise)" class="list-group-item" data-toggle="collapse" data-target="#ddExercise">
                        <a data-toggle="tab">{{exercise.entity.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>
                <b>Session | </b><small><i>{{session.entity.name}}</i></small>
                <b>Exercise | </b><small><i>{{exercise.entity.name}}</i></small>
            </p>
            <p>
                <a class="btn btn-primary" data-ng-click="addSet()">&nbsp;<span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Set&nbsp;</a>
            </p>
        </div>

        <p><small><i>Use this page to create and edit sets.</i></small></p>

        <div class="row">
            <label class="col-xs-4 accordion-toggle" data-parent="#optionsWokrout" data-target="#measurement" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><b>Weight </b></small>
            </label>

            <label class="col-xs-4 accordion-toggle" data-parent="#optionsWokrout" data-target="#prevSessionExercises" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><b>Previous</b></small>
            </label>

            <label class="col-xs-4 accordion-toggle" data-parent="#optionsWokrout" data-target="#exerciseMaxWeight" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><b>Record</b></small>
            </label>
        </div>

        <div id="optionsWokrout">

            <div id="measurement" class="collapse">
                <a class="btn btn-sm" data-ng-click="convertToKg()">
                    <small><i>kilograms</i></small>
                </a>
                <a class="btn btn-sm" data-ng-click="convertToLbs()">
                    <small><i>pounds</i></small>
                </a>
            </div>
            <div id="prevSessionExercises" class="collapse">
               <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td>Set
                            </td>
                            <td>Rep
                            </td>
                            <td>Weight
                            </td>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="set in prevSessionSets">
                            <td>{{set.entity.no}}.
                            </td>
                            <td>{{set.entity.reps}}
                            </td>
                            <td>{{set.entity.weight}} {{maxWeightSet.entity.measuement}}
                            </td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            <div id="exerciseMaxWeight" class="collapse">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td>Set
                            </td>
                            <td>Rep
                            </td>
                            <td>Weight
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{maxWeightSet.entity.no}}.
                            </td>
                            <td>{{maxWeightSet.entity.reps}}
                            </td>
                            <td>{{maxWeightSet.entity.weight}} {{maxWeightSet.entity.measuement}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix">
      
    </div>  

    <ul class="list-group">
        <li class="row">
            <h4 class="col-xs-2">Set</h4>    
            <h4 class="col-xs-2">Rep</h4>
            <h4 class="col-xs-3">Weight</h4>
            <h4 class="col-xs-5">% of Max</h4>
        </li>

        <li class="list-group-item" data-ng-show="sets.length <= 0">
            <p class="text-center">You have no sets.</p>
        </li>

        <li data-ng-repeat="set in sets" class="list-group-item">
            <div data-ng-switch on="set.operation">
                <div class="row" data-ng-switch-when="read">
                    <h6 class="col-xs-2">{{set.entity.no}}.</h6>
                    <h6 class="col-xs-2">{{set.entity.reps}}</h6>
                    <h6 class="col-xs-3">{{set.entity.weight}} {{set.entity.measuement}}</h6>
                    <h6 class="col-xs-3">{{set.weightMaxPercent}} %</h6>
                    <a class="btn btn-link btn-default btn-lg col-xs-2" data-target="#opt{{$index}}" data-toggle="collapse">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>

                <div class="row" data-ng-switch-when="update">

                    <h4 class="col-xs-2">{{set.entity.no}}.</h4>

                    <input class="col-xs-2" type="number"
                        data-ng-model="set.entity.reps" />

                    <input class="col-xs-3" type="number"
                        data-ng-model="set.entity.weight" />
                    <label class="col-xs-3">{{set.entity.measuement}}</label>

                    <a class="col-xs-2 btn btn-link btn-default btn-lg" data-ng-click="saveSet(set)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
            <div id="opt{{$index}}" class="row collapse">
                <div class="clearfix">
                    <br />
                </div>

                <a class="col-xs-6 btn btn-large" data-ng-click="editSet(set)" data-ng-disabled="set.isEditing"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="col-xs-6 btn btn-large" data-ng-click="deleteSet(set)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </li>
    </ul>
</div>