
<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#headerNav" data-target="#ddExercise">EXERCISE <span class="caret"></span>
            </a>
        </li>
    </ul>

    <div class="panel-group" id="headerNav">

        <div class="panel">
            <div id="ddExercise" class="panel panel-default collapse ">

                <ul class="list-group">

                    <li data-ng-repeat="exerciseInfo in day.exercises" data-ng-click="loadExercise(exercise)" class="list-group-item" data-toggle="collapse" data-target="#ddExercise">
                        <a data-toggle="tab">{{exerciseInfo.exercise.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>-->

<select class="form-control"
        data-ng-model="exercise"
        data-ng-options="exercise.name for exercise in day.exercises"
        data-ng-change="loadExercise(exercise)"></select>

    <!--Header Info-->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>
                <b>{{session.entity.name}} | </b><small><i>{{exercise.name}}</i></small>
           </p>
                   
            <p>
                <a class="btn btn-primary" data-ng-click="addSet()">&nbsp;<span class="glyphicon glyphicon-plus">&nbsp;</span>&nbsp;Set&nbsp;</a>
            </p>
        </div>

        <p><small><i>Use this page to create and edit sets.</i></small></p>

        <div class="row">
            <label class="col-xs-4 accordion-toggle" data-parent="#dtlOptionsMaster" data-target="#dtlConvertWeight" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><small>WEIGHT </small></small>
            </label>

            <label class="col-xs-4 accordion-toggle" data-ng-disabled="prevSessionSets.length <= 0" data-parent="#dtlOptionsMaster" data-target="#dtlPrevSets" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><small>PREVIOUS</small></small>
            </label>

            <label class="col-xs-4 accordion-toggle" data-ng-disabled="!maxPerformSet" data-parent="#dtlOptionsMaster" data-target="#dtlMaxPerformSet" data-toggle="collapse">
                <span class="caret"></span>&nbsp;<small><small>RECORD</small></small>
            </label>
        </div>

        <div id="dtlOptionsMaster" class="panel-group">
            <div class="panel panel-default">
                <div id="dtlConvertWeight" class="panel-collapse collapse">
                    <label>Convert to |</label>
                    <a class="btn btn-sm" data-ng-click="convertToKg()">
                        <small><i>kilograms</i></small>
                    </a>
                    <a class="btn btn-sm" data-ng-click="convertToLbs()">
                        <small><i>pounds</i></small>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="dtlPrevSets" class="panel-collapse collapse">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    SET
                                </th>
                                <th>
                                    REP(S)
                                </th>
                                <th>
                                    WEIGHT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="set in prevSessionSets">
                                <td>
                                    {{set.entity.no}}.
                                </td>
                                <td>
                                    {{set.entity.reps}}
                                </td>
                                <td>
                                    {{set.entity.perform}} {{set.entity.measurement}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="dtlMaxPerformSet" class="panel-collapse collapse">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    SET
                                </th>
                                <th>
                                    REP(S)
                                </th>
                                <th>
                                    WEIGHT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{maxPerformSet.entity.no}}.
                                </td>
                                <td>
                                    {{maxPerformSet.entity.reps}}
                                </td>
                                <td>
                                    {{maxPerformSet.entity.perform}} {{set.entity.measurement}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--End Header Info-->

    <!--Set Info-->   

    <div class="clearfix">
      
    </div>  

    <ul class="list-group">
        <li class="row" data-ng-hide="sets.length <= 0">
            <h5 class="col-xs-2 text-center">&nbsp;SET</h5>
            <h5 class="col-xs-2">REP(S)</h5>
            <h5 class="col-xs-3">WEIGHT </h5>
            <h5 class="col-xs-4 text-left">TARGET %</h5>
        </li>

        <li class="list-group-item" data-ng-show="sets.length <= 0">
            <p class="text-center">You have no sets.</p>
            <p class="text-center"><a class="btn btn-info" data-ng-click="addSet()">Add Set</a></p>
        </li>

        <li data-ng-repeat="set in sets" class="list-group-item">
            <div data-ng-switch on="set.operation">
                <div class="row" data-ng-switch-when="read">
                    <h6 class="col-xs-2">{{set.entity.no}}.</h6>
                    <h6 class="col-xs-2">{{set.entity.reps}}</h6>
                    <h6 class="col-xs-3">{{set.entity.perform}} {{set.entity.measurement}}</h6>
                    <h6 class="col-xs-3">&nbsp;&nbsp;{{set.performTargetPercent}}</h6>
                    <a class="btn btn-link btn-default col-xs-2" data-target="#opt{{$index}}" data-toggle="collapse">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>

                <div class="row" data-ng-switch-when="update">



                    <div class="col-xs-4">                       
                        <input class="form-control" type="number" placeholder="reps" data-ng-model="set.entity.reps" />
                    </div>


                    <div class="col-xs-4">                       
                        <input class=" form-control" type="number" placeholder="weight" data-ng-model="set.entity.perform" />
                    </div>

                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default" data-ng-click="cycleMeasurement(set)">{{set.entity.measurement}}&nbsp;&olarr;</button>
                    </div>

                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default" data-ng-click="saveSet(set)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>

                </div>
            </div>



            <div id="opt{{$index}}" class="row collapse">
                <div class="clearfix">
                    <br />
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default" data-ng-click="editSet(set)" data-ng-disabled="set.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>



                <div class="col-xs-6">
                    <button type="button" class="btn btn-default" data-ng-click="deleteSet(set)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>

            </div>
        </li>
    </ul>

    <!--End Set Info-->
</div>

<!--Modals-->


<modal modalid="mdlSessions">
    <div class="modal-body">
        <select class="form-control"
                data-ng-model="program"
                data-ng-options="program.name for program in programs"
                data-ng-change="loadProgram(program)">
            <option value="">-- select program --</option>
        </select>

        <div class="clearfix visible">
            <br />
        </div>

        <select class="form-control"
                data-ng-model="day"
                data-ng-options="day.name for day in days"
                data-ng-change="loadDay(day)"
                data-ng-show="program">
            <option value="">-- select day --</option>
        </select>

        <div class="clearfix visible">
            <br />
        </div>

        <button type="button" class="btn btn-primary  col-xs-12 " data-ng-click="startSession()" data-ng-show="day" data-dismiss="modal">Start Workout</button>
    </div>
</modal>

    <!--End Modals-->
